*{
   box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    :root{
    --bg:#414a37;
    --text:#dbc2a6;
    --hov:#99744a;
}
body{
    margin: 0 auto;
    background:var(--bg) ;
    height: 100%;
    scroll-behavior: smooth;
    color: white;
}

header{
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    background: #00000088;
    padding: 15px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.489);
    font-family: 'Montserrat';
}
header h1{
    padding-left: 30px;
}
header h1::after{
    content: ' ';
    border: 2px solid white;
    width: 100%;
    display: block;
}
header button{
    padding: 5px 10px;
    background: var(--choco);
    border: 2px solid rgba(255, 255, 255, 0.283);
    transition: all .2s;
    margin-right: 30px;
}
header button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
header button a::before{
    content: ' ';
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    background: url(icones/return.svg) center center / cover no-repeat;
}
header button:hover{
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.279);
    transform: scale(1.1);
}
.container{
    margin: 0 auto;
    width: 85%;
}
.container1{
    background: #000000a0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Montserrat';
    position: relative;
    margin-bottom: 20px;
}
.container1 ul>div{
    padding: 0 25px;
    padding-top: 20px;
}
.container1 ul div:nth-child(1){
    margin-top: 0;
}
.container1 ul li{
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 20px;
    list-style: none;
}
.container1  ul li::before{
    content: ' ';
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    background: url(icones/academy.svg) center center / cover no-repeat;
    margin-right: 5px;
}
.container1 ul .darul::before{
    background: url(icones/book.svg) center center / cover no-repeat;
}
.container1 .marmara::before {
    background: url(icones/graduate.svg) center center / cover no-repeat;
}
.container1 ul p{
    line-height: 20px;
}
.container1 .date{
    color: goldenrod;
}

.edu{
    padding-bottom: 8px;
    color: goldenrod;
}
.edu::before{
    content: ' ';
    display: inline-block;
    height: 26px;
    width: 26px;
    vertical-align:top;
    background: url(icones/education.svg) center center / cover no-repeat;
    margin-right: 5px;
}
.exp{
padding: 30px 0;
color: goldenrod;
}
.exper > ul{
    padding-left: 25px;
}
.exper ul li {
    margin: 20px 0 5px 0;
}
.exp::before{
    content: ' ';
    display: inline-block;
    height: 26px;
    vertical-align:top;
    width: 26px;
    background: url(icones/expert.svg) center center / cover no-repeat;
    margin-right: 5px;
}
.container1 .Art::before{
    background: url(icones/art.svg) center center / cover no-repeat;
}
.container1 .Creative::before{
    background: url(icones/creation.svg) center center / cover no-repeat;
}
.container1 .Web::before{
    background: url(icones/web.svg) center center / cover no-repeat;
}
@media screen and (max-width: 776px){
    .container{
        width: 95%;
        margin: 0 auto; 
    }
}
