* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --bg:#414a37;
    --text:#dbc2a6;
    --hov:#99744a;
}

body {
    background: var(--bg);
    color: var(--beige);
}
.container{
    margin: 0 auto;
    width: 90%;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    background: #0000009e;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

header h1 {
    color: #fff;
}

header button {
    padding: 5px 15px;
    background: var(--choco);
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
}

header button:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.279);
    transform: scale(1.1);
}

header button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

header button a::before {
    content: " ";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(icones/return.svg) center center /cover no-repeat;
}


.main {
    width: 90%;
    margin: 0 auto;
}

.carte {
    height: 350px;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: 800;
    font-size: 18px;
    color: rgb(254, 209, 93);
    margin-bottom: 5px;
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    background: #00000041;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: background 0.2s;
    margin-bottom: 10px;
}

input:focus,
textarea:focus {
    background: #00000065;
}
input:hover,
textarea:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.571);
    transition: ease .2s all;
}

input::placeholder,
textarea::placeholder {
    color: rgb(255, 227, 158);
}

.btn {
    display: flex;
    justify-content: flex-end;
}
textarea{
    max-width: 100%;
    height: 200px;
}
.btn button {
    padding: 8px 30px;
    background: #0000006b;
    color: rgb(255, 224, 145);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn button:hover {
    background: goldenrod;
    color: #000000;
}
.pr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .container{
        width: 90%;
        margin: 5px auto;
    }
    .pr{
        display: flex;
        flex-direction: column;
    }
    .pr > input{
        width: 100%;
    }
    .info{
        position: relative;
    }
    .btn button{
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }

}




